@import "tailwindcss";

@theme {
  --color-primary: #FCFBF4;
  --color-text: #3D3B39;
  --color-accent: #D5C6DC;
  --font-title: "Playfair Display", serif;
  --font-body: "Cormorant Garamond", serif;
  --font-menu: "Optima", sans-serif;
}

:root {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-body);
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: var(--font-title);
}

