@import "tailwindcss";

@theme {
  --color-primary: #F1F1EB;
  --color-text: #3D3D3D;
  --color-accent: #E5C352;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}

:root {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: var(--font-sans);
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
}
